
body{
    background-color: rgb(240, 235, 235);
}

.wrapper__ON_ChoiceBox{
    height: 400px;
    width: 400px;
    margin: auto;
}

.wrapperChoicebox{
    margin-top: 20%;
    width: 400px;
    display: flex;
    font-style: italic;
    font-size: 24px;
}

.Outsider {
    margin:auto;
}

.wrapper {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  font-style: italic;
  font-size: 24px;
  text-align: justify;
}

.wrapper2 {
    width: 700px;
    height: 400px;
    margin: auto;
    font-style: italic;
    font-size: 24px;
    text-align: justify;   
}

.Inner_wrapper {
    display:flex;
    justify-content: space-around;
    text-align: justify;
    
}
.wrapperInput{
    margin:auto;
}
.convertedAmount{
    width: 400px;
    height: 300px;
    margin: auto;
 
}

.convertedAmount{
    margin-left: 40px;
    margin-top: 20px;

    
}

.inputAmount{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 24px;
    width: 300px;
    height: 60px;
}
.graph{
    margin:auto;
}
.butt{
    width: 120px;
    height: 40px;
    margin: auto;

}