body {
  margin-top: 100px;
  background-color: white;
  color: black;
  font-family: Noto Sans, 'sans-serif';
}

.wrapper__ON_ChoiceBox {
  height: 250px;
  width: 450px;
  margin: auto;
}

.wrapperChoicebox {
  margin-top: 20%;
  width: 450px;
  display: flex;
  font-size: 24px;
  text-align: center;
}

.wrapperChoicebox select {
    border: 2px solid #00d8ff;
    border-radius: 20px;
    font-size: 20px;
    margin: 5px;
    width: 180px;
    height: 45px;
    text-align-last: center;

}

.wrapperChoiceBox option {
    font-size: 40px;
}

.c1test {
    margin-right: 0px;
}

.Outsider {
  margin: auto;
}

.wrapper {
  width: 400px;
  height: 300px;
  border: 4px solid #00d8ff;
  border-radius: 25px;
  margin: auto;
  font-size: 24px;
  text-align: justify;
}

.currency1, .currency2 {
    align-items: flex-start;
    margin: 0 20px;
    font-family: Noto Sans, 'sans-serif';
}



.wrapper2 {
  width: 700px;
  height: 460px;
  margin: auto;
  font-size: 14px;
  text-align: justify;
}

.Inner_wrapper {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}


.wrapperInput {
  margin: auto;
}

.CurrToConvert {
    padding-left: 10px;
}
.convertedAmount {
  width: 400px;
  height: 300px;
  margin: auto;
}

.convertedAmount {
    margin-top: 80px;
}

.inputAmount {
  margin-top: 15%;
  margin-left: 15%;
  font-size: 25px;
  border: 3px solid #00d8ff;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  height: 60px;
}

.amountDisplay, .inputDisplay {
    display: flex;
    justify-content: center;
    

}

.Outputer {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.graph {
  margin: auto;
}

// .build {
//     height: 500px;
//     border: 2px solid black;
// }

.butt {
    display: flex;
    justify-content: center;
}

.butt button {
    margin: 0 30px 50px 0px;
    border: 3px solid #00d8ff;
    border-radius: 15px;
    background-color: #00d8ff;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 150px;
}
